@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply hyphens-none font-header;
}

.format h2,
.format h3,
.format h4,
.format h5,
.format h6 {
  @apply mt-8;
}

.error-msg[hidden] {
  opacity: 0;
  height: 0px;
}

.error-msg {
  @apply order-10 block w-full text-sm font-bold text-red-800;
}

[x-cloak] {
  display: none !important;
}

body {
  hyphens: auto;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
